@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital,wght@1,500&family=Rubik+Scribble&display=swap');
.todoAddress{
  font-family: 'Merriweather', serif !important;
  font-family: 'Playfair Display', serif;
}


.IconButton{
  transition: all 0.4s !important;
}
.IconButton:hover{
  background: rgba(255, 182, 239, 0.938)!important ;
  box-shadow: 0px 7px  7px rgba(0, 0 , 1 ,0.3);
}
.todoCard:hover{
padding: 25px 0  25px 0 !important;
box-shadow: 6px 6px  7px rgba(0, 0, 15, 0.274);
}
.todoCard{
  transition: all 0.9s !important;
}
body
{
  
  background: linear-gradient(to left, #68b2f7a9 1%, #ff99cc 100%);
  
}
